{
    "presets": [
      ["env","react"]
    ],
    "env": {
      "production": {
        "presets": ["minify"]
      }
    },
    "plugins": [["css-modules-transform"],["transform-react-jsx"], ["transform-es2015-modules-commonjs"]]
}